/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(15, 18, 22);
    margin: 0;
    padding: 0;
    height: 2000px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(15, 18, 22);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    z-index: 999;
}

.navbar.sticky {
    /* padding: 5px 20px; */
    background-color: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 9px;
    margin-top: 14px;
}

.logo img {
    height: 60px;
}

.logo-text img{
    height: 38px;
    margin-top: 10px;
    margin-left: 2px;
}

.logo-text {
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .logo-text.fade {
    opacity: 0;
  }  


  .nav-links-inner {
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .nav-links-inner.fade {
    opacity: 0;
  }

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 14px;
    margin-right: 24px;
}

.nav-links li {
    margin-left: 0px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.content {
    margin-top: 80px;
    /* Adjust this to match the navbar height */
}

.section1{
    position: relative;
    margin: auto auto 80px;
    text-align: center;
    padding: 120px;
}

.home_headline{
    font-family: var(--display-font-family);
    font-size: 100px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -.015em;
    background: url(https://d33wubrfki0l68.cloudfront.net/_next/static/media/f4f16a82938b3471164dab57854d8c5b36bff0ff/big-gradient-2.cec2615303f228afe4e48bc145bee6a7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    margin: auto;
    padding: 0.3em 0;
}

.home_headline-bottomtext{
    margin: 0 auto 40px;
    font-family: var(--display-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    width: -moz-calc(3.5/var(--column-count) * (var(--inner-width) - (var(--gutter) * 2)));
    width: calc(3.5 / var(--column-count) * (var(--inner-width) - (var(--gutter) * 2)));
}

.Home_actionButton__1DHyg {
    height: 48px;
    font-size: 18px;
    margin-right: 12px;
}

.Home_banner{
    display: block;
    margin-top: 40px;
}

.Home_line3{
    line-height: 1.4;
    margin-top: 4px;
    opacity: .6;
    color : light-gray;
}